body {
    height: 125vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
main {
    color: white;
}
header {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
header * {
    display: inline;
    
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding: 5px 10px;
    margin-left: 20px;
  
}
header li a:hover,
header li a.active {
  background-color: black;
  border-radius: 10px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.logo {
    font-weight: 1000;
    font-size: 40px;
    color: #524339;
    height: 80px;
    margin-top: 60px;
    margin-left: 40px;

  }
  
  .logo font {
    color: #ADA095;
  }



  /* -------------------------- */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    margin-top: 150px;
    max-width: 600px;
    padding: 3rem;
    
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  

  fieldset {
    border: 2px solid #333; 
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #fff;
  }
  
  legend {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #hours,
  #minutes,
  #seconds,
  #ampm {
    font-size: 36px;
  }