body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
main {
    color: white;
}
header {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
header * {
    display: inline;
    
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding: 5px 10px;
    margin-left: 20px;
  
}
header li a:hover,
header li a.active {
  background-color: black;
  border-radius: 10px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.logo {
    font-weight: 1000;
    font-size: 40px;
    color: #524339;
    height: 80px;
    margin-top: 60px;
    margin-left: 40px;

  }
  
  .logo font {
    color: #ADA095;
  }
h2{
    text-align: center;
}
.container {
    width: 500px;
    margin: 20px auto;
}
textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    outline: none;
    font-size: 1rem;
  }
  .output.row {
    width: 100%;
    border: 1px solid white;
    font-size: 1.4rem;
    margin: 1% 0;
    background-color: white;
    border-radius: 15px;
    color: black;
  }
  .output.row div {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1rem;
    
  }
  
  .output.row span {
    
    font-size: 1rem;
  }
.wordRight{
    float: right;
}